html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgba(103,41,95,var(--tw-bg-opacity));
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.625rem;
}

#tag {
  font-family: 'Helvetica Neue', sans-serif;
  color: rgba(72,72,72,var(--tw-text-opacity));
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -0.03em;
}

#subtag {
  font-family: 'Helvetica Neue', sans-serif;
  color: rgba(72,72,72,var(--tw-text-opacity));
  opacity: 60%;
  font-size: 1.5rem;
  letter-spacing: -0.03em;
}

.root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#logo_container{
  margin: 0;
  position:fixed;
	top:0;
	left:0;
  padding: 22px;
}

#mc_embed_signup {
  border: none;
  text-align: center;
  width: 100%; } /* Signup form container */

.mc-field-group {
  display: inline-block;
} /* positions input field horizontally */

#mce-EMAIL {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  border: 2px solid #ABB0B2 ;
  color: #343434;
  background-color: #fff;
  width: 350px;
  padding: .7em 3em .7em 1em;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  display: inline-block;
  margin: 0; } /* Input Styles */

.clear {
  display: inline-block;
} /* positions button horizontally in line with input */

.button {
  cursor: pointer;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  letter-spacing: .03em;
  color: #fff;
  background-color: #2386C8 ;
  padding: .7em 2em;
  border: 2px solid #2386C8 ;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  display: inline-block;
  margin: 1em; } /* Button Styles */

:-webkit-input-placeholder { color: #ABB0B2 ; } /* WebKit browsers */
:-moz-placeholder { color: #ABB0B2 ; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #ABB0B2 ; } /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #ABB0B2 ; } /* Internet Explorer 10+ */

@media (max-width: 768px) { /* positions input field and button underneath each other with 100% width for tablet and mobile */
  .mc-field-group { display: block; max-width: 100%; }
  #mce-EMAIL { padding: .7rem 0 .7rem 1rem; width: 96%; margin: 0; font-size: 0.8rem;}
  .clear { display: block; width: 100% }
  .button { width: 100%; margin: .5em 0 0 0; }

}
